.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    margin: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

a {
    text-decoration: none;
}

.logo {
    width: 138px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}

.main-navigation {

    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

.sity-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sity-navigation a {
    color: #000000;
    
}

.sity-navigation {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
    
}

.sity-navigation-item {
    box-sizing:border-box;
    width: 240px;
}

.sity-navigation-item:first-child {
    padding-left: 73px;
    text-align: left;
    max-width: 240px;
}

.sity-navigation-item:nth-child(2) {
    margin-right: 240px ;
}

.sity-navigation-item:last-child {
    padding-right: 73px;
    text-align: right;
    max-width: 240px;
}

.welcome {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0 -80px;
    padding-top: 75px;
    padding-bottom: 80px;
}

.description {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    padding: 35px 350px;
}

.description h2 {
    font-size: 21px;
}

.description p {
    font-size: 14px;
    color: #333333;
    margin-top: 28px;
}

.reasons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.reasons h2 {
    font-size: 21px;
    line-height: 21px;
}

.reasons span,
.reasons p {
    font-size: 14px;
    line-height: 21px;
}

.reasons-text {
    margin: 0;
    width: 400px;
    color: #ffffff;
    background-color: #81b3d2;
    display: flex;
    padding: 50px 60px;
    flex-direction: column;
    align-items: center;
 
}
.reasons-img {
    display: block;
}

.reasons-text h2 {
    margin-top: 0;
    max-width: 150px;
}

.reasons-list-item {
    width: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 60px 55px 65px;
    box-sizing:border-box;
}
.reasons-list-item h2 {
    padding-bottom: 7px;
}
.reasons-with-img {
    display: flex;
}

.reasons-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list-item-without-img {
    margin: 0;
    width: 400px;
    display: flex;
    padding: 30px 69px 50px;
    flex-direction: column;
    align-items: center;
    box-sizing:border-box;
}

.list-item-without-img h2 {
    max-width: 150px;
    padding-bottom: 7px;
}

.list-item-without-img p {
margin-top: 21px;
}

.reasons-without-img {
    background-color: #eeeeee;
}

.reasons-with-img {
    background-color: #ffffff;
}

.search_hotel {
    background-color: #ffffff;
}

.search-hotel h2 {
    font-size: 30px;
    line-height: 36px;
}

.search-hotel p {
    font-size: 14px;
    line-height: 24px;
}

.search-hotel {
    padding: 20px 370px 56px;
}

.search-form {
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 75px; 
    background-position: 0 -35px;
}

.search-form form {
    background-color: #ffffff;
    width: 570px;
    margin: 0 auto;
    text-align: left;
    padding: 20px 55px;
    box-sizing: border-box;
}

.search-hotel-button {
    background-color: #766357;
    width: 570px;
    height: 86px;
    border: 0px;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    
}

.form-row {
    display: flex;
    margin: 36px 0;
}

.form-control {
    width: 100%;
}

.form-control.half-width {
    width: 50%;
}

.form-control label {
    width: 110px;
}

.form-input {
    flex-grow: 1;
}

.search-hotel-button:hover {
    /* ИЗМЕНЕНИЕ ЦВЕТА ПРИ НАЖАТИИ */
    background-color: #604e43;
}

.find-button {
    background-color: #81b3d2;
    height: 60px;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
}

.network-list {
    list-style: none;
}

.network-list a {
    color: #000000;
}

.visit a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: black;
}

.development a {
    color: black;
}

.main-footer {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

/*      catalog.html         */

.filters {
    background-image: url(../img/background.jpg);
}

.filters-list,
.hotels-list,
.filters-type-list,
.arrow-list,
.item-list {
    list-style: none;
}

.filters h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}

.filters span {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.filters-list {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.show-result {
    color: #ffffff;
    border-color: #ffffff;
    background: none;
}

.show-result span {
    font-size: 14px;
    line-height: 21px;
}

.show-result:hover {
    color: #000000;
    background-color: #ffffff;
}

.filters_results h2,
.filters_results span {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.filters_results p {
    font-size: 12px;
    line-height: 18px;
}

.filters-type-list a {
    font-size: 12px;
    line-height: 18px;
    color: #cacaca;
}

.filters-type-list a:hover {
    color: #81b3d2;
}

.filters-type-list a:active {
    color: #000000;
}

.active a {
    color: #81b3d2;
}

.item h1 {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.item a {
    color: #000000;
}

.item span {
    font-size: 14px;
    line-height: 21px;
}

.rating {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.stars {
    color: #81b3d2;
}

.without-filters {
    background-color: #fefefe;
}
