.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

body {
    margin: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    background-color: #f2f2f2;
    background-position: top center;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.logo {
    width: 138px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
}
.logo-cursor {
    cursor: pointer;
}

.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

.sity-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sity-navigation {
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
}

.sity-navigation-item {
    box-sizing: border-box;
    width: 240px;
}

.sity-navigation-item:first-child {
    padding-left: 73px;
    text-align: left;
    max-width: 240px;
}

.sity-navigation-item:nth-child(2) {
    margin-right: 240px;
}

.sity-navigation-item:last-child {
    padding-right: 73px;
    text-align: right;
    max-width: 240px;
}

.sity-navigation-item a:hover {
    color: #81b3d2;
}

.sity-navigation-item a:active {
    color: rgba(0, 0, 0, 0.3);
}

.sity-navigation-item a {
    color: #000000;
}

.welcome {
    position: relative;
    background-color: #687d8c;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -82px;
    padding: 75px 0;
}

.welcome:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='1200' height='60'><path fill='white' d='M 0,0 L 250,25 250,0 600,60 950,0 950,25 1200,0 1200,60 0,60 z'></path></svg>") no-repeat;
}

.description {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    padding: 40px 0 35px;
}

.wrapper {
    width: 570px;
    margin: 0 auto;
}

.description h2 {
    font-size: 21px;
}

.description p {
    font-size: 14px;
    color: #333333;
    margin-top: 28px;
}

.reasons {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    background-color: #81b3d2;
}

.reasons h2 {
    font-size: 21px;
    line-height: 21px;
    margin-bottom: 22px;
}

.reasons span,
.reasons p {
    font-size: 14px;
    line-height: 21px;
}

.reasons-text {
    margin: 0;
    width: 400px;
    color: #ffffff;
    background-color: #81b3d2;
    display: flex;
    padding: 50px 0px 40px;
    flex-direction: column;
    align-items: center;
}

.reasons-text p {
    padding-top: 5px;
    max-width: 280px;
}

.reasons-img {
    display: block;
    background-color: #9e795c;
}

.reasons-text h2 {
    margin-top: 0;
    max-width: 150px;
}

.reasons-list-item {
    width: 400px;
    display: block;
    flex-direction: column;
    align-items: center;
    padding: 60px 55px;
    box-sizing: border-box;
}

.reasons-list-item h2 {
    padding-bottom: 7px;
}

.reasons-with-img {
    display: flex;
}

.reasons-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.list-item-without-img {
    margin: 0;
    width: 400px;
    display: flex;
    padding: 30px 69px 45px;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.list-item-without-img:last-child {
    padding: 30px 75px 45px;
}

.list-item-without-img h2 {
    max-width: 150px;
    padding-bottom: 7px;
    margin-bottom: 18px;
}

.list-item-without-img p {
    margin-top: 20px;
}

.reasons-without-img {
    background-color: #eeeeee;
}

.reasons-with-img,
.search_hotel {
    background-color: #ffffff;
}

.search-hotel h2 {
    font-size: 30px;
    line-height: 36px;
}

.search-hotel p {
    font-size: 14px;
    line-height: 24px;
}

.search-hotel {
    position: relative;
}

.map-box {
    height: 593px;
    background-image: url(../img/map.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #e0edbb;
}

.search-form {
    position: absolute;
    left: 0;
    right: 0;
    background-color: #ffffff;
    text-align: left;
    padding: 55px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: transform .4s ease-in-out;
}

.text-wrapper {
    z-index: 1;
    position: relative;
    padding-top: 27px;
    background-color: #ffffff;
}

.search-hotel-button {
    background-color: #766357;
    width: 570px;
    height: 86px;
    border: 0px;
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
}

.search-hotel-button:hover {
    background-color: #604e43;
}

.search-hotel-button:active {
    background-color: #503e33;
    color: #857871;
}

.form-row {
    display: flex;
}

.form-control {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.form-control label {
    min-width: 100px;
    margin-right: 12px;
}

.form-control .label-children {
    min-width: 50px;
    margin-left: auto;
}

.form-control.half-size {
    width: 50%;
}

.form-input {
    flex: 1;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-color: #f2f2f2;
    border: none;
    text-transform: uppercase;
}

.form-input:hover {
    background-color: #ebebeb;
}

.form-input:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.quantity-grown,
.quantity-children {
    width: 30px;
    text-align: center;
}

.calendar {
    position: absolute;
    border: none;
    background: none;
    padding-top: 4px;
    margin-left: 423px;
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.quantity-minus,
.quantity-plus {
    background-color: #f2f2f2;
    border: none;
    width: 38px;
    height: 38px;
    position: relative;
    padding: 0;
    display: block;
    cursor: pointer;
}

.quantity-minus::after {
    content: "";
    display: block;
    width: 11px;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17px;
    background-color: #a9a9a9;
}

.quantity-plus::before {
    content: "";
    display: block;
    width: 3px;
    height: 11px;
    background-color: #a9a9a9;
    position: absolute;
    left: 50%;
    top: 13px;
    transform: translateX(-50%);
}

.quantity-plus::after {
    content: "";
    display: block;
    width: 11px;
    height: 3px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 17px;
    background-color: #a9a9a9;
}

.quantity-plus:hover::after,
.quantity-plus:hover::before,
.quantity-minus:hover::after {
    background-color: #000000;
}

.quantity-plus:active::after,
.quantity-plus:active::before,
.quantity-minus:active::after {
    background-color: #81b3d2;
}

.calendar:hover path {
    fill: #000000;
}

.calendar:active path {
    fill: #81b3d2;
}

.quantity-control {
    display: flex;
}

.quantity-control input {
    padding-left: 4px;
    padding-right: 4px;
}

.find-button {
    background-color: #81b3d2;
    height: 60px;
    width: 100%;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 21px;
    margin-top: 23px;
    border: 0;
    cursor: pointer;
}

.find-button:hover {
    background-color: #669ec0;
}

.find-button:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.form-is-hidden {
    transform: translateY(-100%);
}

.network-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 170px;
    flex-wrap: wrap;
}

.network-box {
    display: flex;
    max-width: 170px;
}

.network-list li:not(:nth-child(3n)) {
    margin-right: 6px;
    margin-bottom: 6px;
}

.network-list a {
    color: #000000;
}

.social-button {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #81b3d2;
    background-repeat: no-repeat;
    background-position: center;
}

.social-button:hover {
    background-color: #669ec0;
}

.social-button:active {
    background-color: #5496bd;
}

.social-button:active svg {
    opacity: 0.8;
}

.visit a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: black;
    margin-right: 40px;
}

.development span {
    vertical-align: 56%;
    margin-right: 6px;
}

.development a {
    display: flex;
    align-items: center;
    color: #000000;
}

.development-logo:hover path {
    fill: #81b3d2;
}

.development a:active path {
    fill: #bdbbbc;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 1200px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 100px 36px 132px;
    background-color: rgba(255, 255, 255, 0.9);
}

/*      catalog.html         */

.filters-list,
.hotels-list,
.filters-type-list,
.arrow-list,
.item-list,
.sort-arrow-list {
    list-style: none;
}

.selection-hotel {
    display: flex;
}

.filters {
    background-color: #5b7c8c;
    box-sizing: border-box;
    background-image: url(../img/filter-background.jpg);
    background-position: 0 -55px;
    height: 218px;
    background-size: cover;
    padding: 15px 73px;
}

.filters-list {
    margin: 22px 0;
    padding: 0;
}

.filters-type-item a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.form-left-column {
    width: 250px;
    text-align: left;
    padding: 0;
}

.form-left-column h2 {
    text-align: left;
}

.filters-middle-column {
    width: 300px;
    text-align: left;
    padding-left: 5px;
}

.filters-list li {
    margin-bottom: 20px;
}

.check-box {
    display: block;
    position: absolute;
    width: 27px;
    height: 26px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%23FFFFFF' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
    background-size: 23px;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type="checkbox"]:checked+.check-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%23FFFFFF' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%23FFFFFF' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
    width: 27px;
    background-size: 27px;
    background-repeat: no-repeat;
}

input[type="checkbox"]:disabled+.check-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='23' viewBox='0 0 23 23'%3E%3Cpath fill='%236a6a6a' d='M20 2c.542 0 1 .458 1 1v17c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h17m0-2H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3V3c0-1.65-1.35-3-3-3z'/%3E%3C/svg%3E%0A");
    width: 27px;
    height: 26px;
    background-size: 23px;
    background-repeat: no-repeat;
    margin-right: 15px;
}

input[type="checkbox"]:disabled:checked+.check-box {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='23' viewBox='0 0 27 23'%3E%3Cpath fill='%236a6a6a' d='M7.285 7.486l-2.829 2.829 7.783 7.783L26.171 4.166l-2.828-2.829-11.104 11.102z'/%3E%3Cpath fill='%236a6a6a' d='M21 20c0 .542-.458 1-1 1H3c-.542 0-1-.458-1-1V3c0-.542.458-1 1-1h16.908L21.493.415A2.96 2.96 0 0 0 20 0H3C1.35 0 0 1.35 0 3v17c0 1.65 1.35 3 3 3h17c1.65 0 3-1.35 3-3v-9.829l-2 2V20z'/%3E%3C/svg%3E%0A");
    width: 27px;
    background-size: 27px;
    background-repeat: no-repeat;
    margin-right: 11px;
}

input[type="checkbox"]:focus+.check-box {
    outline: 2px solid #81b3d2;
}

.filter-range {
    color: #ffffff;
    margin-left: 185px;
}

.filter-range-title {
    margin-bottom: 9px;
}

.hotels-price {
    position: relative;
    height: 32px;
    margin-top: -5px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    vertical-align: middle;
}

.hotels-price::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.hotels-price label {
    display: inline-block;
    font-size: 14px;
    line-height: 32px;
    padding-left: 55px;
    padding-right: 10px;
    vertical-align: middle;
    cursor: pointer;
}

.hotels-price .min-price,
.hotels-price .max-price {
    width: 90px;
}

.hotels-price input {
    width: 50px;
    margin: 0;
    color: #ffffff;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.show-result {
    width: 135px;
    height: 35px;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
    margin-right: 13px;
    background: none;
    cursor: pointer;
}

.show-result:hover {
    color: #000000;
    background-color: #ffffff;
}

.filters h2 {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.filters-list label {
    padding-left: 38px;
    cursor: pointer;
}

.filters-list .filters-list-rigth {
    padding-left: 40px;
}

.filters-list label,
.filters span {
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}

.filters-results {
    display: flex;
    align-items: center;
    padding: 12px 72px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;
}

.found-quantity {
    margin-right: 30px;
}

.filters-type-list {
    display: flex;
    box-sizing: border-box;
    width: 288px;
    padding: 0 11px 0 40px;
    justify-content: space-between;
}

.filters-results h2 {
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
}

.filters-results p {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 8px;
    margin-left: 19px;
}

.filters-type-list a {
    font-size: 12px;
    line-height: 18px;
    color: #cacaca;
}

.filters-type-item a:hover {
    color: #81b3d2;
}

.filters-type-item a:active {
    color: #000000;
    border-bottom: none;
}

.arrow-up:hover path {
    fill: #000000;
}

.arrow-up:active path {
    fill: #81b3d2;
}

.sort-arrow-list {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

.arrow-up {
    margin-right: 9px;
    margin-top: 2px;
}

.filters-type-item-active a {
    color: #81b3d2;
}

.item-list {
    padding: 0;
    margin: 0;
}

.item-description {
    margin-left: 30px;
}

.item-image {
    display: block;
}

.item-hotel h1 {
    font-size: 21px;
    line-height: 15px;
    font-weight: bold;
    max-width: 300px;
}

.item-hotel span {
    font-size: 14px;
    line-height: 21px;
}

.item-hotel {
    display: flex;
    padding: 30px 73px;
    border-bottom: 1px solid #e5e5e5;
}

.item-heading a {
    margin-bottom: 12px;
    color: #000000;
}

.item-heading:hover a {
    color: #81b3d2;
}

.item-heading:active a {
    color: #cacaca;
}

.price,
.type {
    color: #696969;
}

.button-more,
.button-reserve {
    color: #ffffff;
    font-weight: bold;
    padding: 1px 16px;
    margin-top: 14px;
}

.button-reserve {
    background-color: #766357;
}

.button-reserve:hover {
    background-color: #604e43;
}

.button-reserve:active {
    background-color: #503e33;
    color: #857871;
}

.button-more {
    background-color: #81b3d2;
}

.button-more:hover {
    background-color: #669ec0;
}

.button-more:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.item-hotel-left {
    display: flex;
}

.stars {
    display: flex;
    margin-left: auto;
    margin-bottom: 45px;
}

.star :first-child {
    padding-right: 8px;
}

.rating {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    padding: 2px 14px;
    background-color: #f2f2f2;
}

.item-rating {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
}

.item-heading {
    display: flex;
    text-align: left;
    margin: 0;
}

.item-description,
.item-rating {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.item-description {
    margin-left: 30px;
}

.price-reserve-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-left: 7px;
}

.tupe-more-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.without-filters {
    background-color: #fefefe;
}

.footer-catalog {
    position: relative;
}

/* Animations */

.animated {
    animation-duration: .6s;
    animation-fill-mode: both;
}

@-webkit-keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from,
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-name: shake;
}