body {
    margin: 0;
    font-family: 'PT Sans', Arial, sans-serif;  
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    text-transform: uppercase;
    text-align: center;
    background-color: #ffffff;
    background-position: top center;
    background-repeat: no-repeat;
}
.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

a{
    text-decoration: none;
}

.logo {
    width: 138px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
}
.main-navigation {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
}

.sity-navigation {
    list-style: none;
}

.sity-navigation a {
    color: #000000;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.sity-navigation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 56px;
}
.sity-navigation-item:nth-child(2) {
	margin-right: 240px;
}

.welcome {
 background-image: url(../img/background.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 background-position: 0 -80px;
 padding-top: 75px;
 padding-bottom: 80px;
}

.description {
    margin: 0;
    background-color: #ffffff;
    text-align: center;
    padding: 35px 350px 60px;
}

.description h2 {
    font-size: 21px;
    line-height: 26px;
}

.description p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}

.reasons {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.reasons h2 {
    font-size: 21px;
    line-height: 21px;
}

.reasons span,
.reasons p {
    font-size: 14px;
    line-height: 21px;
}

.reasons-text{
    width: 400px;
    color: #ffffff;
    background-color: #81b3d2;
    text-align: center;
    padding: 40px 60px 60px;
    
}

.reasons-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.reasons-list-item:first-child {
    vertical-align: middle;
    padding: 60px 70px 85px 70px;
}

.reasons-list-item:nth-child(2) {
    vertical-align: middle;
    padding: 60px 50px 85px 50px;
}

.reasons-list-item:nth-child(3) {
    vertical-align: middle;
    padding: 56px 70px 85px 70px;
}

.reasons-without-img {
    background-color: #eeeeee;

}

.reasons-with-img {
    background-color: #ffffff;
}

.search_hotel {
    background-color: #ffffff;
}

.search_hotel h2 {
    font-size: 30px;
    line-height: 36px;
}
.search_hotel p {
    font-size: 14px;
    line-height: 24px;
}

.search-hotel-button {
    font-size: 21px;
	line-height: 26px;
    font-weight: bold;
    background-color: #766357;
}

.search-hotel-button:hover{
    /* ИЗМЕНЕНИЕ ЦВЕТА ПРИ НАЖАТИИ */
    background-color: #604e43;
}

.find-button{
    background-color: #81b3d2
}

.network-list {
    list-style: none;
}

.network-list a {
    color: #000000; 
}

.visit a {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color:black;
}

.development a {
    color:black;
}

.main-footer {
    background-color: #ffffff;
}

/*      catalog.html         */

.filters{
    background-image: url(../img/background.jpg);
}
.filters-list,
.hotels-list,
.filters-type-list,
.arrow-list,
.item-list{
    list-style: none;
}
.filters h2{
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #ffffff;
}
.filters span{
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
.filters-list{
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
}
.show-result{
    color:#ffffff; 
    border-color: #ffffff;
    background: none;
}
.show-result span{
    font-size: 14px;
    line-height: 21px;
}
.show-result:hover{
    color: #000000;
    background-color: #ffffff;
}
.filters_results h2,
.filters_results span{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.filters_results p{
    font-size: 12px;
    line-height: 18px;
}
.filters-type-list a{
    font-size: 12px;
    line-height: 18px;
    color:#cacaca;
}
.filters-type-list a:hover{
    color:#81b3d2;

}
.filters-type-list a:active{
    color:#000000;

}
.active a{
    color:#81b3d2;
}
.item h1{
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}
.item a{
    color: #000000;
}
.item span{
    font-size: 14px;
    line-height: 21px;
}
.rating{
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}
.stars{
    color:#81b3d2;
}
.without-filters{
    background-color:#fefefe; 
}
